@page
@model IndexModel
@{
    var i = 1;
    var EsAdmin = User.IsInRole("Admin");
}
<h2>Libros</h2>
<div class="row">
    <a asp-page="./Crear" role="button" class="btn btn-success">Crear</a>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">NumeroDePatas</th>
      <th scope="col">TipoDeMaterial</th>
      <th scope="col">DescanzaBrazo</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var al in Model.sillas)
    {
      
    <tr>
    
      <td>@al.NumeroDePatas</td>
      <td>@al.TipoDeMaterial</td>
      <td>@al.DescansaBrazo</td>

      <td><a asp-page="./Detalles" asp-route-id="@al.Id" class="btn btn-info">Detalles </a>
      <a asp-page="./Editar" asp-route-id="@al.Id" class="btn btn-info">Editar </a>
      @if(EsAdmin){
      <a asp-page="./Borrar" asp-route-id="@al.Id" class="btn btn-warning">Borrar </a>
      }
      </td>
    </tr>
        i++;
    }
   
  </tbody>
</table>