@page
@model EditarModel
<h1>Editar </h1>

<form method="POST" enctype="multipart/form-data"  >
  <div class="form-group" style="display: none;">
    <input type="hidden" name="Id" class="form-control"
         id="Id" aria-describedby="" value="@Model.Detalle.Id">
   <span>@Model.Detalle.Id</span>
    
  </div>
  <div class="form-group">
    <label for="Nombre">Nombre</label>
    <input type="text" name="Nombre" class="form-control"
         id="Nombre" aria-describedby="" value="@Model.Detalle.Nombre">
        @* <input asp-for="NuevoEstudiante.Nombre" /> *@
    
  </div>
  <div class="form-group">
    <label for="Equipo">Equipo</label>
    <input type="text" class="form-control"
        name="Equipo" id="Equipo" aria-describedby="" value="@Model.Detalle.Equipo">
    
  </div>

    <div class="form-group">
    <label for="Edad">Edad</label>
    <input type="text" class="form-control"
        name="Edad" id="Edad" aria-describedby="" value="@Model.Detalle.Edad">
    
  </div>

    <div class="form-group">
    <label for="Precio">Precio</label>
    <input type="text" class="form-control"
        name="Precio" id="Precio" aria-describedby="" value="@Model.Detalle.Precio">
 </div>

  <a asp-page="./Index" class="btn btn-info">Regresar</a>
  <button type="submit" class="btn btn-primary">Actualizar</button>
</form>